<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar style="font-weight: 600; margin-top: 55px">
            <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>


      Customer
    
    </mat-toolbar>
    <mat-nav-list>
         <a mat-list-item RouterLink="#">
        <span class="material-symbols-outlined"> dashboard </span>
        Reports
      </a>
      <a mat-list-item RouterLink="#">  Register  </a> 
       <a mat-list-item RouterLink="#"> Purchase Gas</a>
       <a mat-list-item RouterLink="#">Contact <br> Energy Manager</a>
              <a mat-list-item RouterLink="#">Contact Support</a>

      <a mat-list-item RouterLink="#">Transaction History</a>
            <a mat-list-item RouterLink="#">  Notifications  </a> 

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Noretek Energy ERP </span>

    </mat-toolbar>
    <!-- Add Content Here -->
     <app-customer-dashboard></app-customer-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
