<div class="container" style="margin: 2rem">
  <h1
    style="
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(83, 83, 195);
      text-align: center;
    "
  >
    About Noretek Energy Limited
  </h1>
<div style="background-color: rgba(0, 0, 255, 0.301); ">

  <!--About us tag-->
<div class="row">
  
  <div class="row" >
    <div class="col-md-2">
      <!--Just a 2col space-->
    </div>
    <div class="col-md-8" style="background-color:rgba(0, 0, 255, 0.301); ">
      <br />
      <!-- About us -->

      <p style="text-justify: auto; font-size: 16px; font-weight: 500; text-wrap-style: auto;">
        At Noretek, we believe that every home deserves the warmth and comfort
        of reliable energy. As your trusted partner in gas distribution, we are
        dedicated to powering your life with efficiency and care. We take pride
        in being more than a service provider;we are a part of your journey,
        ensuring that you have the energy you need to create cherished moments
        with your loved ones. With Noretek, you can trust that we’re not just
        fueling your home—we’re fueling your dreams.
      </p>
    </div>
    <div class="col-md-2">
      <!--Just a 2col space-->
    </div>
  </div>

 
</div>

</div>
</div>
