 <div class="grid-container">

 
     <img src="/assests/dashboarIcon.png" alt="dashboarIcon" width="250px"/> 
      <h1 class="mat-h1"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>Customer Dashboard</strong></h1> 
  
 
 
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
           
            </mat-card-title>
          </mat-card-header>
          
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
