<!--

<div class="container d-flex justify-content-center align-items-center min-vh-100">
   <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <marquee behavior="right">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Noretek Energy ERP under development ...</h4></marquee>
    </div>

    <div class="col-md-1"></div>
  </div>

  
</div>
-->

<nav class="navbar navbar-expand-md" fixed-top>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/assests/logo.jpg"
        alt="logo"
        height="25"
        width="40"
        class="rounded-circle border border-info"
      />

      Noretek ERP</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="customer-account"
            >Create Account</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="noretek-carousel" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#noretek-carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#noretek-carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#noretek-carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img
        src="assests/carousel_image1.jpg"
        class="d-block w-100 c-image"
        alt="carousel_image1"
      />
      <div class="carousel-caption top-0 mt-5 ">
        <div class="row mt-5">
          <div class="col-md-6 mt-5">
            <h1 class="confi">Power Your Homes</h1>
            <h1 class="confi">with Confidence</h1>
            <p class="confi2">
              Trust Noretek for reliable gas distribution that
            </p>
            <p class="confi2">keeps your home running compotabily!</p>
            <div class="row">
              <div class="parent">
                <button type="button" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-danger">Register</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--Just a space -->
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item c-item">
      
      <img
        src="assests/carousel_image2.jpg"
        class="d-block w-100 c-image"
        alt="carousel_image2"
      />
      <div class="carousel-caption top-0 mt-5 ">
        <div class="row mt-5">
          <div class="col-md-6 mt-5">
            <h1 class="confi">Power Your Homes</h1>
            <h1 class="confi">with Confidence</h1>
            <p class="confi2">
              Trust Noretek for reliable gas distribution that
            </p>
            <p class="confi2">keeps your home running compotabily!</p>
            <div class="row">
              <div class="parent">
                <button type="button" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-danger">Register</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--Just a space -->
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="assests/carousel_image3.jpg"
        class="d-block w-100 c-image"
        alt="carousel_image3"
      />
      <div class="carousel-caption top-0 mt-5 ">
        <div class="row mt-5">
          <div class="col-md-6 mt-5">
            <h1 class="confi">Power Your Homes</h1>
            <h1 class="confi">with Confidence</h1>
            <p class="confi2">
              Trust Noretek for reliable gas distribution that
            </p>
            <p class="confi2">keeps your home running compotabily!</p>
            <div class="row">
              <div class="parent">
                <button type="button" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-danger">Register</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--Just a space -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#noretek-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#noretek-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





 <div class="row" style="background: darkblue; color: white;">
    <div class="col-md-2">
      <!--Just a 2col space-->
    </div>
    
    <div class="col-md-8 ">
      <h2  style="text-align: center;">How to Register with Noretek </h2>
<ul class="list-group">

  <li class="list-group-item list-group-item-light"> Step 1 Open your web browser and go to the
      official Noretek homepage at www.noretek.com.ng 
  </li>
  <li class="list-group-item list-group-item-light"> Step 2 Click on the
      “Register” or “Create Account” button to complete the process.
  </li>
   <li class="list-group-item list-group-item-light">  Step 3 Fill
      Out the Registration Form Step
  </li>
  <li class="list-group-item list-group-item-light">  Step 4 Verify Your Email or Phone Number Step 
  </li>
  <li class="list-group-item list-group-item-light">  Step 5
      Check your email inbox for a verification email from Noretek. Click the
      link in the email to verify your account.
  </li>
</ul>
<br> <br>
</div>

    <div class="col-md-2">
      <!--Just a 2col space-->
    </div>
    
  </div>
<br/>
<div class="container">
  <footer class="py-3 my-4">
   <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
    </ul>-->
    <p class="text-center text-muted">© 2025 Noretek Energy Limited</p>
  </footer>
</div>
<router-outlet></router-outlet>
