
<div class="content-body">

<app-header></app-header>
  <!-- <app-carousel></app-carousel>-->
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <marquee behavior="right">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Noretek Energy ERP under development ...</h4></marquee>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>


<router-outlet />

</div>
