<div class="container-fluid">
  <div class="row align-items-center min-vh-100">
 
    <div class="col-12">
      <div class="d-flex flex-column align-items-center ">
        <div class="w-50">
          <h1>Sign In</h1>
          <p style="font-weight: 500">
            <strong> Don't have an account? </strong> <span class="text-primary" style="cursor: pointer;"> Sign up here </span>
          </p>
        </div>
        <form class="w-50" style="font-weight: 500; font-style: initial">
          <div class="mt-1">
            <label for="" class="form-label" style="size: 18px">
              Email Address
            </label>
            <input
            name="userName"
              [(ngModel)] = "loginObj.userName"
              style="background-color: rgba(222, 186, 227, 0.156)" 
              type="text"
              class="form-control"
              formcControlName="username"
              placeholder="User Name"
              required
            />
          </div>

          <div class="mt-2">
            <label for="password" class="form-label" style="size: 18px">
              Password
            </label>
            <input
            [(ngModel)] = "loginObj.password"
            name="password"
              style="background-color: rgba(222, 186, 227, 0.156)"
              type="password"
              class="form-control"
              formcControlName="password"
              placeholder="Password"
              required
            />
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-primary py-2 mt-2 w-100 roundes-2 btn.custom"
              (click)="onLogin()"
            >
              Sign in <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </form>
        <div style="padding: 4px;">
          <button class="btn btn-primary" (click)="onClickSuperAdmin()" > Super Admin Dash Link</button>

          <div class="mt-2">
             <button class="btn btn-primary" (click)="onClickAdmin()" >  Admin Dash Link</button>
        </div>
         <div class="mt-2">
             <button class="btn btn-primary" (click)="onClickEnergyManger()" > Energy Manager Link</button>
        </div>
        <div class="mt-2"> 
             <button class="btn btn-primary" (click)="onClickEnrollmentOfficer()" >  Enrollment Officer Link</button>
        </div>
                <div class="mt-2">
             <button class="btn btn-primary" (click)="onClickCustomerSupport()" >  Customer Support Link</button>
        </div>
       
        <div class="mt-2">
             <button class="btn btn-primary" (click)="onClickCustomer()" >  Customer Link</button>
        </div>
        </div>
       </div>
   
  
    </div>
  </div>
</div>
