<div class="container" style="margin: 2rem">
  <h1
    style="
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(83, 83, 195);
      text-align: center;
    "
  >
    Login
  </h1>

<div
  class="container min-vh100 d-flex justify-content-center align-items:center"
>

</div>
<form>
    <!--
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
          <div class="row">
              <div class="col-md-6 left-box">
                  <div class="features-image">
                      <img src="src/assests/testlogo.png" alt="logo" class="image-fluid" style="width: 20px; height: 25px;" >
                  </div>
                  <p>Welcome to Noretek Energy Ltd.</p>
                                         <small></small>

              </div>

              <div class="col-md-6  right-box ">
                 Login here
              </div>
          </div>
    </div>

  
    -->
</form>
  




</div>
