<div class="container-fluid">
     <nav class="navbar navbar-expand-md" fixed-top>
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="/assests/logo.jpg"
          alt="logo"
          height="25"
          width="40"
          class="rounded-circle border border-info"
        />

        Noretek Energy ERP</a
      >
    </div>
  </nav>



    <div class="row mt-5">
            <div class="myEmailVeriIcon mt-5">
         <img
          src="/assests/emailverificationIcon.png"
          alt="logo"
          height="90px"
          width="120px"
          class="rounded-circle border border-info"
        />
            </div>
    </div>

    <div class="row">
        <div class="myVerifactionMessageDiv">
                <h1 style="text-align: center;"> Verify your email address</h1>
                 <h4 style="text-align: center;"> <strong> enter the 6 gidits code we have sent to you via this email xyz123&#64;gmail.com </strong> </h4>
        </div>
        <div class="input-container d-flex justify-content-center mt-4">
            <input type="text" class="m-1 text-center rounded" maxlength="1" style="border-color: blue; font-size: x-large; font-weight: 500; color: black;" placeholder="3" > 
            <input type="text" class="m-1 text-center rounded" maxlength="1" style="border-color: blue; font-size: x-large; font-weight: 500; color: black;" placeholder="6" > 
            <input type="text" class="m-1 text-center rounded" maxlength="1" style="border-color: blue; font-size: x-large; font-weight: 500; color: black;" placeholder="9" > 
            <input type="text" class="m-1 text-center rounded" maxlength="1" style="border-color: blue; font-size: x-large; font-weight: 500; color: black;" placeholder="0" > 
            <input type="text" class="m-1 text-center rounded" maxlength="1" style="border-color: blue; font-size: x-large; font-weight: 500; color: black;" placeholder="3" > 
            <input type="text" class="m-1 text-center rounded" maxlength="1" style="border-color: blue; font-size: x-large; font-weight: 500; color: black;" placeholder="4" > 
        </div>

    </div>
    <div class="myVerifactionResendButtonDiv">
        <h3 >Resend code in 03:34</h3>

    </div>
    <div class="myVerifactionMessageButtonDiv">

<button type="button" class="btn btn-primary">Continue</button>
 </div>
</div>